    div {
        display: inline-block;
        border: 1px solid black;
        width: 200px;
        height: 200px;
        background-color: red;
        margin-left: -4px;
        margin-bottom: -4px;

             }
        .quadrado{
        border:1px solid white;
        margin-left: -4px;
        margin-bottom: -4px; 
        }     
        .quadrado2{
          background-color: rgb(0, 217, 255);
          border:1px solid white;
          margin-left: -4px;
          margin-bottom: -4px;
        }
        .quadrado3{
            background-color: green;
            border:1px solid white;
            margin-left: -4px;
            margin-bottom: -4px;
        }
        .quadrado4{
            background-color:yellow;
            border:1px solid white;
            margin-left: -4px;
            margin-bottom: -4px;
        }

